html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Open Sans";
    background-color: #333;
    background-image: url('assets/img/bg.svg');
    background-size: cover;
    background-position: center bottom;
}

h1, h2, h3, h4, h5, h6, p{
    margin-block-start: unset;
    margin-block-end: unset;
}